{% extends "portal/base.html" %}


{% block heading %}
Staff Management
{% endblock %}


{% block content %}

<div
    style="
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    "
>

    <h1>
        Staff
    </h1>

    <a
        class="button"
        href="{% url 'portal:staff-create' %}"
    >
        + Add Staff
    </a>

</div>


<table>

    <thead>

        <tr>

            <th>
                Employee No.
            </th>

            <th>
                Name
            </th>

            <th>
                Position
            </th>

            <th>
                Department
            </th>

            <th>
                Status
            </th>

            <th>
                Action
            </th>

        </tr>

    </thead>


    <tbody>

        {% for staff in staff_members %}

            <tr>

                <td>
                    {{ staff.employee_number }}
                </td>

                <td>
                    {{ staff.full_name }}
                </td>

                <td>
                    {{ staff.job_title }}
                </td>

                <td>
                    {{ staff.department }}
                </td>

                <td>
                    {{ staff.get_employment_status_display }}
                </td>

                <td>

                    <a
                        href="{% url 'portal:staff-edit' staff.id %}"
                    >
                        Edit
                    </a>

                </td>

            </tr>

        {% empty %}

            <tr>
                <td colspan="6">
                    No staff records found.
                </td>
            </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}