{% extends "portal/base.html" %}


{% block title %}
Academic Dashboard
{% endblock %}


{% block heading %}
Academic Management
{% endblock %}


{% block content %}

<div class="cards">

    <div class="card">

        <div>
            Active Students
        </div>

        <div class="number">
            {{ active_students }}
        </div>

    </div>


    <div class="card">

        <div>
            Active Enrollments
        </div>

        <div class="number">
            {{ active_enrollments }}
        </div>

    </div>

</div>

<div style="margin-bottom: 25px;">

    <a
        class="button"
        href="{% url 'portal:academic-results-queue' %}"
    >
        Review Results
    </a>

    <a
        class="button button-secondary"
        href="{% url 'portal:academic-term-results-home' %}"
    >
        Term Results
    </a>

    <a
        class="button button-secondary"
        href="{% url 'portal:promotion-dashboard' %}"
    >
        Promotions
    </a>

</div>

{% endblock %}